{% extends "FrontBundle::layout.html.twig" %}



{% block title %}
    Page de creation d'incident
{% endblock %}



{% block content %}


<div class="page-header">

    <h1>Cretion d'incident</h1>
    </div>

    <form method="POST" action="">
        <label for="nom">Titre :</label>
        <input type="text" class="form-control" name="nom" placeholder="Titre"><br><br>


        <div class="form-group">
            <label for="sel1">Machine concernée:</label>
            <select class="form-control" id="sel1" name="ip">
                {% for  m in machines %}




                    <option value={{ m.ip }}>{{ m.nom }} {{ m.ip }} dans la salle : {{ m.salle }}  </option>

                {% endfor %}

            </select>
        </div>


        <label for="type">Type :</label>
        <input type="text" class="form-control" name="type" placeholder="Type"><br><br>

        <div class="form-group">
            <label for="explication">Explication:</label>
            <textarea class="form-control" rows="5" placeholder="Explication" id="comment" name="text"></textarea>
        </div>


        <input class="btn sub " type="submit">
    </form>

    <form action="{{ path('front_indexallincidents') }}"><input type="submit" class="btn box" value="Les des incidents"/></form>





    {% if alerte is defined %}
        <p>{{ alerte }}</p>
    {% endif %}



{% endblock %}




