{% extends "BackBundle::layout.html.twig" %}



{% block title %}
    Création d'incident
{% endblock %}

{% block navContent %}
    {% if nom is not null %}
        <li><a href={{ path('admin_logout') }}><span class="glyphicon glyphicon-log-out"></span> Déconnexion
            </a></li>
    {% elseif nom is null %}
        <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-out"></span> Sign In
            </a></li>
        <li><a href={{ path('admin_create') }}><span class="glyphicon glyphicon-log-out"></span> Sign Up
            </a></li>
    {% endif %}
{% endblock %}


{% block content %}


    <div class="page-header">


        <h1>Création d'incidents
            <form class="box" action="{{ path('front_indexallincidents') }}"><input type="submit" class="btn"
                                                                                    value="Liste des incidents"/></form>

        </h1>
    </div>

    <form method="POST" action="">
        <label for="nom">Titre :</label>
        <input type="text" class="form-control" name="nom" placeholder="Titre"><br><br>


        <div class="form-group">
            <label for="sel1">Machine concernée:</label>
            <select class="form-control" id="sel1" name="ip">
                {% for  m in machines %}




                    <option value={{ m.ip }}>{{ m.nom }} {{ m.ip }} dans la salle : {{ m.salle }}  </option>

                {% endfor %}

            </select>
        </div>


        <label for="type">Type :</label>
        <input type="text" class="form-control" name="type" placeholder="Type"><br><br>

        <div class="form-group">
            <label for="explication">Explication :</label>
            <textarea class="form-control" rows="5" placeholder="Explication" id="comment" name="text"></textarea>
        </div>


        <input class="btn sub " type="submit">
    </form>






{% endblock %}




