{% extends "BackBundle::layout.html.twig" %}










{% block title %}
    Incident Détails
{% endblock %}



{% block content %}


    <div class="container">
        <h1>Incident Détails</h1>


        <p> Id: {{ incident.id }} </p>
        <p> Nom: {{ incident.nom }}</p>
        <p> Ip: {{ incident.ip }}</p>
        <p> Type: {{ incident.type }}</p>
        <p> Machine: {{ incident.machine }}</p>
        <p> Salle: {{ incident.salle }}</p>
        <p> Explication: {{ incident.text }}</p>
        <p> Commencer le : {{ incident.datedebut|date('d/m/Y') }}</p>


        {% if incident.datefin == null %}
            <p>Fin le: Non défini</p>
        {% else %}
            <p> Fin le: {{ incident.datefin|date('d/m/Y') }}</p>
        {% endif %}


        <form action="../../../back/incident/end/{{ incident.id }} "><input type="submit" class="btn"
                                                                            value="Finaliser la fin de cette incident "/>
        </form>
        <form action="../affiche"><input type="submit" class="btn" value="retour"/></form>


    </div>


{% endblock %}
