{% extends "FrontBundle::layout.html.twig" %}










{% block title %}
    Détails de l'incident
{% endblock %}

    {% block navContent %}
        {% if nom is not null %}
            <li><a href={{ path('admin_logout') }}><span class="glyphicon glyphicon-log-out"></span> Déconnexion
                </a></li>
        {% elseif nom is null %}
            <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-out"></span> Connexion
                </a></li>

        {% endif %}
    {% endblock %}



{% block content %}





    <div class="container">
        <div class="page-header">
            <h1>Détails de l'incident
                <form action={{ path('front_indexallincidents') }}><input type="submit" class="btn box"
                                                                          value="Retour aux incidents"/></form>
            </h1>
        </div>


        <p class=" col-md-4"> Id: {{ incident.id }} </p>
        <p class=" col-md-4">Nom de l'incident: {{ incident.nom }}</p>

        <p class=" col-md-4"> Type : {{ incident.type }} </p>


        <p class=" col-md-4">Nom de la machine impliquée : {{ incident.machine }}</p>

        <p class=" col-md-4">Ip de la machine : {{ incident.ip }}</p>


        <p class=" col-md-4"> Dans la salle : {{ incident.salle }} </p>


        <p class=" col-md-8"> Débuté le : {{ incident.datedebut|date('d/m/Y') }} </p>


        <p class=" col-md-4"> {% if incident.datefin == null %}

                Date de fin : Non défini

            {% else %}

                Date de fin :{{ incident.datefin|date('d/m/Y') }}
            {% endif %}

        </p>


        <p class=" col-md-12"> Explication : {{ incident.text }} </p>


        <form action="../../../back/incident/end/{{ incident.id }} "><input type="submit" class="btn sub"
                                                                            value="Finaliser la fin de cet incident "/>
        </form>


    </div>


{% endblock %}
