<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crédit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>

    {% block meta %}
    {% endblock %}





</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Boulets</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                <li><a href={{ path('front_allsalleaffiche') }}>DashBorad</a></li>
                <li><a href={{ path('front_machineall') }}>Machines</a></li>
                <li><a href={{ path('front_indexallincidents') }}>Incidents</a></li>
                <li><a href={{ path('credit') }}>Crédit</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
            </ul>
        </div>
    </div>
</nav>


<div id="two" class="wrapper">

        <header>
            <h2>Ipsum Feugiat</h2>
            <p>Semper suscipit posuere apede</p>
        </header>
        <div class="flex flex-4">
            <div class="box person">
                <div class="image round">
                    <img src="images/pic03.jpg" alt="Person 1" />
                </div>
                <h3>Magna</h3>
                <p>Cipdum dolor</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="images/pic04.jpg" alt="Person 2" />
                </div>
                <h3>Ipsum</h3>
                <p>Vestibulum comm</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="images/pic05.jpg" alt="Person 3" />
                </div>
                <h3>Tempus</h3>
                <p>Fusce pellentes</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="images/pic06.jpg" alt="Person 4" />
                </div>
                <h3>Dolore</h3>
                <p>Praesent placer</p>
            </div>
        </div>
    </div>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>


</html>
