<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crédit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>

    {% block meta %}
    {% endblock %}


</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Boulets</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                <li><a href={{ path('front_allsalleaffiche') }}>DashBorad</a></li>
                <li><a href={{ path('front_machineall') }}>Machines</a></li>
                <li><a href={{ path('front_indexallincidents') }}>Incidents</a></li>
                <li><a href={{ path('credit') }}>Crédit</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% block navContent %}
                    {% if nom is not null %}
                        <li><a href={{ path('admin_logout') }}><span class="glyphicon glyphicon-log-out"></span> Déconnexion
                            </a></li>
                    {% elseif nom is null %}
                        <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-out"></span> Connexion
                            </a></li>

                    {% endif %}
                {% endblock %}

            </ul>
        </div>
    </div>
</nav>


<div id="wrapper">

    <div id="title">
        <h2>Les Boulets</h2>
        <p>Semper suscipit posuere apede</p>
    </div>


    <div class="container">


        <div class="person col-lg-3">
            <div class="image round">
                <img class=" img-circle" width="168" height="168" src="{{ asset('assets/img/dines.jpg') }}"
                     alt="Person 1"/>
            </div>
            <h3>#Boulet 1</h3>
            <p>Le leader</p>
        </div>


        <div class="person col-lg-3">
            <div class="image round">
                <img class=" img-circle" width="168" height="168" src="{{ asset('assets/img/juliin.jpeg') }}"
                     alt="Person 2"/>
            </div>
            <h3>#Boulet 2</h3>
            <p>Elirios</p>
        </div>
        <div class="col-lg-3 person">
            <div class="image round">
                <img class=" img-circle" width="168" height="168" src="{{ asset('assets/img/mouss.png') }}"
                     alt="Person 3"/>
            </div>
            <h3>#Boulet 3</h3>
            <p>Le boulet ultimes</p>
        </div>
        <div class="col-lg-3 person">
            <div class="image round">
                <img class=" img-circle" width="168" height="168" src="{{ asset('assets/img/guillaume.jpeg') }}"
                     alt="Person 4"/>
            </div>
            <h3>#Boulet 4</h3>
            <p>ce que tu veux</p>
        </div>


        <div class="col-lg-3 " id="down">
            <div class="image round">
                <img class=" img-circle" width="168" height="168" src="{{ asset('assets/img/abd.jpg') }}"
                     alt="Person 5"/>
            </div>
            <h3>#Boulet 5</h3>
            <p>Abdul Cisse</p>
        </div>

    </div>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>


</html>
