{% extends "BackBundle::layout.html.twig" %}

{% block title %}
    Liste des administrateurs
{% endblock %}

{% block content %}


    <div class="container">


        <div class="page-header">
            <h1>Liste des administrateurs
                <form class="box" action={{ path('admin_create') }}><input class="btn " type="submit"
                                                                           value="Nouvel Administrateur"/>
                </form>

            </h1>
        </div>

        {% for u in utilisateurs %}



            <div class="page-header">
                <h2>{{ u.nom }}, mail : {{ u.mail }}</h2>
            </div>

            <form class="col-md-6" action="list/details/{{ u.id }}"><input type="submit" class="btn sub"
                                                                           value="Détails"/>
            </form>

            <form class="col-md-6" action="list/delete/{{ u.id }}"><input type="submit" class="btn sub supp "
                                                                          value="Supprimer"/>
            </form>
        {% endfor %}
    </div>




    </div>
{% endblock %}