{% extends "BackBundle::layout.html.twig" %}




{% block title %}
    Liste de tout les machines
{% endblock %}


{% block content %}


    <h1>Liste de tout les machines
        <form action={{ path('admin_profil') }}><input type="submit" class="btn " value="Voir profil"/></form>
    </h1>
    <div>
        {% for flash_message in app.session.flashBag.get('Notification') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for m in machines %}
            <div class=" container">
                <div class="page-header">
                    <h2> Adresse Ip : {{ m.ip }}, Nom de la machine : {{ m.nom }}</h2>
                </div>
                <div class="">

                    <p class=" col-md-4">
                    Le statue : {{ m.statut }}
                    </p>
                    <p class=" col-md-4">
                        Dans la salle : {{ m.salle }}

                    </p>
                    <form class="col-md-4" action="details/{{ m.id }}"><input type="submit" class="btn box" value="Détails"/>
                    </form>
                </div>
            </div>

        {% endfor %}


        <form action={{ path('back_machine_create') }}><input class="btn " type="submit" value="Nouvelle Machine"/>
        </form>


    </div>

{% endblock %}




