{% extends "FrontBundle::layout.html.twig" %}







{% block title %}
    Détails de la machine
{% endblock %}



{% block content %}





    <div class="container">


        <div class="page-header">
            <h1>Détails de la machine</h1>
        </div>





        <form class="col-md-3" method="post" action="../../../back/machine/ping/{{ machine.id }} "><input type="submit"
                                                                                                          class="btn sub"
                                                                                                          value="Effectuer un ping"/>
        </form>


        <form class="col-md-3" action={{ path('front_machineall') }}><input type="submit" class="btn sub"
                                                                            value="Liste des machines"/></form>


        <form class="col-md-3" action="../../../front/machine/update/{{ machine.id }} "><input type="submit"
                                                                                               class="btn sub"
                                                                                               value="Modifier l'état de la machine"/>
        </form>
        <form class="col-md-3" method="post" action="../../../back/machine/delete/{{ machine.id }} "><input
                    type="submit" class="btn sub supp"
                    value="Supprimer la machine"/></form>

        <p class="col-md-3"> Id: {{ machine.id }} </p>
        <p class="col-md-3"> Nom: {{ machine.nom }}</p>
        <p class="col-md-3"> Statut: {{ machine.statut }}</p>
        <p class="col-md-3"> Date de création : {{ machine.date|date('d/m/Y') }}</p>
        <p class="col-md-3"> Affeceté dans la salle : {{ machine.salle }}</p>
        <p class="col-md-3"> Type: {{ machine.type }}</p>


        {% if machine.disque == 500 %}

            <p class="col-md-3"> Stockage : {{ machine.disque }} Go</p>


        {% else %}

            <p class="col-md-3"> Stockage : {{ machine.disque }} To </p>
        {% endif %}






        {% if machine.ram == 512 %}

            <p class="col-md-3"> Mémoire vivie (Ram): {{ machine.ram }} Mo</p>


        {% else %}

            <p class="col-md-3"> Mémoire vivie (Ram): {{ machine.ram }} Go </p>
        {% endif %}


    </div>


{% endblock %}
