{% extends "BackBundle::layout.html.twig" %}

{% block title %}
    Ping de la machine
{% endblock %}

{% block navContent %}
    {% if nom is not null %}
        <li><a href={{ path('admin_logout') }}><span class="glyphicon glyphicon-log-out"></span> Déconnexion
            </a></li>
    {% elseif nom is null %}
        <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-out"></span> Sign In
            </a></li>
        <li><a href={{ path('admin_create') }}><span class="glyphicon glyphicon-log-out"></span> Sign Up
            </a></li>
    {% endif %}
{% endblock %}

{% block content %}


    <div class="container">
        <h1>Ping Machine </h1>
        {% for flash_message in app.session.flashBag.get('Notification') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}

        {% for p in ping %}

            <p>{{ p }}</p>
        {% endfor %}

        <form method="post" action="../../../front/machine/details/{{ machine.id }} "><input type="submit" class="btn"
                                                                                             value="Détails machine"/>
        </form>
        <form class="col-md-3" action={{ path('front_machineall') }}><input type="submit" class="btn"
                                                                            value="Liste des machines"/></form>

    </div>


{% endblock %}
