<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">

<h1>Incident Détails</h1>



    <p> Id: {{ incident.id }} </p>
    <p> Nom: {{ incident.nom }}</p>
    <p> Type: {{ incident.type }}</p>
    <p> Machine: {{ incident.machine }}</p>
    <p> Explication: {{ incident.text }}</p>
    <p> Commencer le : {{ incident.datedebut|date('d/m/Y') }}</p>





    {%  if incident.datefin == null %}
    <p>Fin le: {{ 'Non défini' }}</p>
    {%  else   %}
        <p> Fin le: {{ incident.datefin|date('d/m/Y') }}</p>
    {% endif %}


    <form action="../incidentend/{{ incident.id }}"><input type="submit" value="Finaliser la fin de cette incident " /></form>
    <form action="../allincidents"><input type="submit" value="retour" /></form>





</div>



</body>
</html>

