{% extends "BackBundle::layout.html.twig" %}



    {% block meta %}
        <meta HTTP-EQUIV="Refresh" CONTENT="30" xmlns="http://www.w3.org/1999/html">
    {% endblock %}


{% block title %}
    Parc
{% endblock %}

{% block navContent %}
    {% if nom is not null %}
        <li><a href={{ path('admin_logout') }}><span class="glyphicon glyphicon-log-out"></span> Déconnexion
            </a></li>
    {% elseif nom is null %}
        <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-out"></span> Sign In
            </a></li>
        <li><a href={{ path('admin_create') }}><span class="glyphicon glyphicon-log-out"></span> Sign Up
            </a></li>
    {% endif %}
{% endblock %}


{% block content %}

    <div class="page-header">
        <h1>Gestionnaire du Parc

            <form class="box" action={{ path('back_createsalle') }}><input class="btn " type="submit"
                                                                           value="Nouvelle Salle"/>
            </form>
        </h1>
    </div>



    <div class="container">
        {% for flash_message in app.session.flashBag.get('Notification') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}

                <th>Date de création</th>
                <th>
                    <form action={{ path('back_createsalle') }}><input class="btn " type="submit"
                                                                          value="Nouvelle Salle"/></form>
                </th>





        {% for s in salles %}
            {% set counter = 0 %}

            <div class=" container">
                <div class="page-header">
                    <h2> Nom : {{ s.nom }}, Etat {{ s.etat }}</h2>
                </div>


                {% for m in machines %}
                    {% if  m.salle == s.nom %}
                        {% set counter = counter + 1 %}
                    {% endif %}
                {% endfor %}
                <p class=" col-md-3"> {{ s.id }}</p>

                <p class=" col-md-3"> Nombre de machines : {{ counter }} </p>
                <p class=" col-md-3"> Date de création : {{ s.datecreation|date('d/m/Y') }} </p>


                <p>
                <form class="col-md-3 " action="../../salle/details/{{ s.id }}"><input type="submit"
                                                                                       class="btn box"
                                                                                       value="Détails"/></form>
                </p>
            </div>


        {% endfor %}
    </div>

{% endblock %}