{% extends "FrontBundle::layout.html.twig" %}




{% block title %}
    Liste de toutes les machines de la salle
{% endblock %}

      {% block navContent %}
          {% if nom is not null %}
              <li><a href={{ path('admin_logout') }}><span class="glyphicon glyphicon-log-out"></span> Déconnexion
                  </a></li>
          {% elseif nom is null %}
              <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-out"></span> Connexion
                  </a></li>

          {% endif %}
      {% endblock %}
{% block content %}




    <div class="page-header">
        <h1> Liste de toutes les machines de la salle

            <form action={{ path('back_machine_create') }}><input class="btn box" type="submit"
                                                                  value="Nouvelle Machine"/>
            </form>
        </h1>
    </div>





    <div class="container">
        {% for flash_message in app.session.flashBag.get('Notification') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}



        {% for m in machines %}
            <div class=" container">
                <div class="page-header">
                    <h2> Adresse Ip : {{ m.ip }}, Nom de la machine : {{ m.nom }}</h2>
                </div>
                <div>


                    <p class=" col-md-3">{{ m.id }}
                    </p>
                    <p class=" col-md-3">
                        Le Statut : {{ m.statut }}
                    </p>
                    <p class=" col-md-3">
                        Dans la salle : {{ m.salle }}

                    </p>
                    <form action="../../../machine/details/{{ m.id }}"><input type="submit" class="btn box"
                                                                              value="Détails"/></form>
                </div>


            </div>

        {% endfor %}


    </div>


{% endblock %}




