{% extends "BackBundle::layout.html.twig" %}

{% block title %}
    Détails de la salle
{% endblock %}

{% block navContent %}
    {% if nom is not null %}
        <li><a href={{ path('admin_logout') }}><span class="glyphicon glyphicon-log-out"></span> Déconnexion
            </a></li>
    {% elseif nom is null %}
        <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-out"></span> Sign In
            </a></li>
        <li><a href={{ path('admin_create') }}><span class="glyphicon glyphicon-log-out"></span> Sign Up
            </a></li>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container">


        <div class="page-header">
            <h1>Détails de la salle : {{ salle.nom }}</h1>
        </div>




        <form class="col-md-3" method="post" action="{{ salle.id }}/machines"><input type="submit" class="btn sub"
                                                                                     value="Machines associées à cette salle"/>
        </form>

        <form class="col-md-3" action="../affiche"><input type="submit" class="btn sub" value="Liste des salles"/></form>

        <form class="col-md-3" action="../update/{{ salle.id }} "><input type="submit" class="btn sub"
                                                                         value="Modifier la salle"/></form>

        <form class="col-md-3" method="post" action="../../../back/salle/delete/{{ salle.id }} "><input type="submit"
                                                                                                        class="btn sub supp"
                                                                                                        value="Supprimer la salle"/>
        </form>


        {% set counter = 0 %}
        {% for m in machines %}
            {% if  m.salle == salle.nom %}

                {% set counter = counter + 1 %}

            {% endif %}
        {% endfor %}

        <p class="col-md-4"> Id : {{ salle.id }} </p>

        <p class="col-md-4"> Etat : {{ salle.etat }}</p>
        <p class="col-md-4"> Date de création : {{ salle.datecreation|date('d/m/Y') }}</p>
        <p class="col-md-4"> Nombre de machines : {{ counter }}</p>
        <p class="col-md-4"> Dernière modification par :{{ salle.administrateur }} </p>
        <p class="col-md-4"> Incident :{{ salle.incident }} </p>

    </div>


{% endblock %}
