{% extends "BackBundle::layout.html.twig" %}

{% block title %}
    Modification  de la salle
{% endblock %}

{% block navContent %}
    {% if nom is not null %}
        <li><a href={{ path('admin_logout') }}><span class="glyphicon glyphicon-log-out"></span> Déconnexion
            </a></li>
    {% elseif nom is null %}
        <li><a href={{ path('login') }}><span class="glyphicon glyphicon-log-out"></span> Sign In
            </a></li>
        <li><a href={{ path('admin_create') }}><span class="glyphicon glyphicon-log-out"></span> Sign Up
            </a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">

            <h1>Modification de la salle</h1>

            <form method="POST" action="">


                <label for="nom">Nom actuelle : {{ salle.nom }} </label>
                <input type="text" class="form-control" name="nom" placeholder="En cas de chamgement de nom"  />


                <div class="radio active">
                    <label><input type="radio" checked name="etat" value="Ouverte">Ouverte</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="etat" value="Fermée">Fermée</label>
                </div>


                <div class="form-group">
                    <label for="sel1">Un problème avec la salle ? </label>
                    <select class="form-control" name="incident">
                        <option value="">{{ salle.incident }} (actuellement)</option>
                        <option value=Aucun>Aucun</option>
                        <option value=Inondation>Inondation</option>
                        <option value=Incendie>Incendie</option>
                        <option value=Radioactive>Radioactive</option>
                        <option value=Séismes‎>Séismes‎</option>
                        <option value=Cyclone>Cyclone</option>
                        <option value=Tsunami>Tsunami</option>

                    </select>
                </div>


                <input class="btn sub" type="submit">

            </form>

    </div>

{% endblock %}